.my-card {
  background-color: #fff;
  // box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 1/5);
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 1/5);
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0px 0px 0px;
}

.topic-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 1/5);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.collapsible {
  background-color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  position: relative;
  border-collapse: separate;
  border-color: rgba(34, 36, 38, 1/20);
  border-style: solid;
  border-width: 1px;
  outline: rgba(0, 0, 0, 87/100) none none;
  box-sizing: border-box;
  border-radius: 4.57143px;


  .active,
  &:hover {
    background-color: #cacbcd;
  }
}

.collapsible-content {
  padding: 18px 0;
  overflow: hidden;
  background-color: #fff;
}

.collapsible-block {
  display: block;
}

.collapsible-none {
  display: none;
}

.chevron-right {
  position: absolute;
  right: 0;
}


